body {
    font-family: 'Montserrat', sans-serif;
}

.bg-1 {
    background-color: #ee0e0e !important;
}

.bg-2 {
    background-color: #ee4242 !important;
}

.bg-3 {
    background-color: #fd7b7b !important;
}

.bg-4 {
    background-color: #565656 !important;
}

.bg-5 {
    color: #989898 !important;
}

.tc-1 {
    color: #ee0e0e !important;
}

.tc-2 {
    color: #ee4242 !important;
}

.tc-3 {
    color: #fd7b7b !important;
}

.tc-4 {
    color: #565656 !important;
}

.tc-5 {
    color: #989898 !important;
}

.img-xs {
    width: 36px;
    height: 36px;
}

.grid-margin {
    margin-bottom: 1.5rem;
}

.grid-margin-sm-0 {
    @media (min-width: 576px) {
        margin-bottom: 0;
    }
}

.grid-margin-md-0 {
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}

.grid-margin-lg-0 {
    @media (min-width: 992px) {
        margin-bottom: 0;
    }
}

.grid-margin-xl-0 {
    @media (min-width: 1200px) {
        margin-bottom: 0;
    }
}